@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


:root {
    /* --primary-color: #c55f5f; */
    /* --primary-color: #36A1D4; */
    --primary-color: #3E849E;
    --background-color: #e0e0e0;
    --font-color: rgb(0, 0, 0);
    --night-background: #252525;
    --night-font: #e7e7e7;




    /*SOCIAL BUTTONS */
    --button-height: 30px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}


body{
    background: var(--background-color);
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    transition: 0.2s;
    color: var(--font-color);
    padding-top: 40px;
    overflow-x: hidden;
}

.bxs-envelope{
    padding-top: 3px;
}


h1{
    font-weight: 300;
}

a {
    text-decoration: none;
    font-weight: 400;
}

a:hover{
    text-decoration: none;
}

ul {
    list-style-type: none;
}




/*  HEADER  */ /*  HEADER  */ /*  HEADER  */ /*  HEADER  */ /*  HEADER  */ /*  HEADER  */
.top-section{
    position: relative;
}



.header{
    padding: 10px 20px 10px 20px;
    width: 100%;
    box-shadow: 0px -2px 10px var(--primary-color);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    top: 0;
    background: var(--background-color);
    z-index: 5;
}

.header-container{
    max-width: 1100px;
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
}

.header-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 300;
    font-size: 28px;
    padding: 0 0 0 20px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    color: var(--font-color);
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}


.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.top-button{
    font-weight: 400;
    font-size: 18px;
    color: var(--font-color);
    position: sticky;
    margin: 0 20px 0 20px;
}


.top-button:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 4px;
    background-color: var(--primary-color);
    border-radius: 2px;
    transition: .2s;
}


.top-button:hover:after {
    width: 100%;
    text-decoration: none;
}

.menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-left: 10px;
    margin-top: -2.5px;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.burger-icon{
    visibility: hidden;
    margin-top: 2.5px;
}

/*  HEADER  */ /*  HEADER  */ /*  HEADER  */ /*  HEADER  */ /*  HEADER  */ /*  HEADER  */

/*  INTRO  */ /*  INTRO  */ /*  INTRO  */ /*  INTRO  */ /*  INTRO  */ /*  INTRO  */


.name-txt {
    color: var(--primary-color);
}

.about-section {
    min-height: calc(100vh - 80px);
    max-width: 1100px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    /* background-color: red; */

}

.about-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(25, 0, 255); */
}

.about-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(55, 255, 0); */
}



.about-img{
    max-width: 500px;
    width: 100%;
}

#main-img {
    display: block;
    width: 100%;

    /* background-color: rgb(0, 0, 0); */
}

.about-txt{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}

#intro-txt {
    width: 100%;
    font-size: 30px;
    max-width: 800px;
    margin-bottom: 20px;

}

#intro-txt h1{
    font-size: 45px;
}

p{
    font-size: 19px;
}

#role-txt {
    display: inline-flex;
    height: 35px;
    position: relative;
    font-weight: 300;
    font-size: 28px;
    padding-bottom: 0px;
    color: var(--primary-color);
    margin: 5px 0px 10px 0px;
}


.dynamic-txts {
    overflow: hidden;
}

.dynamic-txts li{
    height: 35px;
    list-style: none;
    display: flex;
    align-items: flex-start;
    /* margin-bottom: 20px; */
    position: relative;
    animation: slide 6s infinite;
}

@keyframes slide {
    0% {
    transform: translateY(0%);
    }
    25%{
        transform: translateY(-112%)
    }
    40%{
        transform: translateY(-100%)
    }
    50%{
        transform: translateY(-100%)
    }
    75%{
        transform: translateY(-212%)
    }

    90%{
        transform: translateY(-200%)
    }
    100%{
        transform: translateY(-200%)
    }

}


.dynamic-txts li span{
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}






@keyframes typing {
    0%{
        left: 0%;
    }
    5%{
        left: 0%;
    }

    50% {
        left: 100%;
        margin: 0 -35px 0 15px;
    }

    100% {
        left: 0;
    }
}


/* SOCIAL BUTTONS */


.btn {
    color: var(--font-color);
    background-color: transparent;
    cursor: pointer;
    border: 2.5px solid var(--primary-color);
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px var(--primary-color);
    transition: 0.4s;
    margin: 20px 20px 20px 0;
    position: relative;

}


#contact-me-button{
    min-width: 20px;
    width: 150px;
    max-width: 150px;
}


.social-button{
    min-width: 30px;
    font-size: 30px;
}



.social-container{
    display: flex;
    align-items: center;
}

.social-container a {
    font-size: 16px;
}



.bx-moon{
    padding-top: 1px;
}

.bx-menu{
    padding-top: 1px;
}


.btn::after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 20px;
    transition: .2s;
    opacity: 0;
}

.btn:hover:after {
    width: 100%;
    color: rgb(255, 255, 255);
    opacity: 100;
    text-decoration: none;
    z-index: -1;
}



.btn:hover {
    color: rgb(255, 255, 255);
    background-color: var(--primary-color);
    text-decoration: none;
}


/*  INTRO  */ /*  INTRO  */ /*  INTRO  */ /*  INTRO  */ /*  INTRO  */ /*  INTRO  */

/*   ANIMATION BACKGROUND   *//*   ANIMATION BACKGROUND   *//*   ANIMATION BACKGROUND   *//*   ANIMATION BACKGROUND   *//*   ANIMATION BACKGROUND   */

.animation-area{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
}


.box-area{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index:-1;
}

.box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    animation: animate 20s linear infinite;
    top: 0;
    opacity: 0;
    border-radius: 200px;

}

.box-area li:nth-child(1){
    left: 15%;
    width: 40px;
    height: 40px;
    animation-delay: 8s;
    animation-duration: 15s;
}

.box-area li:nth-child(2){
    left: 25%;
    width: 30px;
    height: 30px;
    animation-delay: 1s;
    animation-duration: 25s;
}

.box-area li:nth-child(3){
    left: 40%;
    width: 20px;
    height: 20px;
    animation-delay: 13s;
    animation-duration: 20s;
}


.box-area li:nth-child(4){
    left: 50%;
    width: 35px;
    height: 35px;
    animation-delay: 5s;
}

.box-area li:nth-child(5){
    left: 80%;
    width: 50px;
    height: 50px;
    animation-delay: 0s;
    animation-duration: 25s;
}



@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0;
    }
    30% {
        transform: translateY(9vh) rotate(108deg);
        opacity: 20%;
    }
    80% {

    }
    100% {
        transform: translateY(30vh) rotate(360deg);
        opacity: 0;
    }
    
}




/*   ANIMATION BACKGROUND   *//*   ANIMATION BACKGROUND   *//*   ANIMATION BACKGROUND   *//*   ANIMATION BACKGROUND   *//*   ANIMATION BACKGROUND   */






/*  DARK MODE  */ /*  DARK MODE  */ /*  DARK MODE  */ /*  DARK MODE  */ /*  DARK MODE  */ /*  DARK MODE  */

body.is-dark {
    background: var(--night-background);
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    transition: 0.2s;
    color: var(--night-font);
}

.is-dark .top-button{
    color: var(--night-font);
}


.is-dark .btn{
    color: var(--night-font);

}

.is-dark .btn:hover:after {
    color: var(--font-color);
    text-decoration: none;
}

.is-dark .btn:hover {
    color: var(--font-color);
    text-decoration: none;
}

.is-dark .header{
    background: var(--night-background);
}


.is-dark .dynamic-txts li span::after {
    background: var(--night-background);

}

.is-dark .curve::before{
    background-color: var(--night-background);
}

.is-dark .tiles {
    background-color: var(--night-background);
}

.is-dark .tiles-texts{
    color: var(--night-font);
}
.is-dark .tiles-buttons a{
    color: var(--night-font);
}
.is-dark .tiles-buttons a:hover{
    color: var(--font-color);
    text-decoration: none;
}
.is-dark #project-intro{
    color: var(--font-color);
}
.is-dark #skills-intro{
    color: var(--night-font);
}
.is-dark .skills-section{
    background-color: var(--night-background);
}
.is-dark .curve-skills::after{
    background-color: var(--night-background);
}
.is-dark .logo{
    color: var(--night-font)
}
.is-dark .services-box{
    background-color: var(--night-background);
    color: var(--night-font)
}

.is-dark .form-title{
    color: var(--night-background)
}

.is-dark .contact-me-form input{
    background-color: var(--night-background);
    color: var(--night-font)
}

.is-dark .contact-me-form textarea{
        background-color: var(--night-background);
    color: var(--night-font);
}

.is-dark ::placeholder { 
    color: rgb(161, 161, 161);
 }

.is-dark .contact-option{
    background-color: var(--night-background);
    color: var(--night-font);
    border: 2px solid var(--night-font);
}

/*  DARK MODE  */ /*  DARK MODE  */ /*  DARK MODE  */ /*  DARK MODE  */ /*  DARK MODE  */ /*  DARK MODE  */





/* PROJECTS */ /* PROJECTS */ /* PROJECTS */ /* PROJECTS */ /* PROJECTS */ /* PROJECTS */

section{
    min-height: calc(100vh - 80px);
    padding-top: 80px;
    position: relative;
    color: var(--night-font);
    padding-bottom: 30px;
}

.projects-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-color);
    
}

.project-title{
    font-weight: 400;
}

.curve{
    position: absolute;
    height: 80px;
    width: 100%;
    top: 0;

}


.curve::before{
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: var(--background-color);
    transform: translate(-4%, -51%);
    transition: 0.2s;
    z-index: 0;


}

.curve::after{
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: var(--primary-color);
    transform: translate(92%, -52%);
    z-index: 0;
    
}




/* PROJECTS */ /* PROJECTS */ /* PROJECTS */ /* PROJECTS */ /* PROJECTS */ /* PROJECTS */




/*   SWIPERJS   *//*   SWIPERJS   *//*   SWIPERJS   *//*   SWIPERJS   *//*   SWIPERJS   */


/* TILES */

#project-intro{
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
    color: var(--night-font);
    transition: 0.3s;
}

.swiper {
    max-width: 1000px;
    width: 1000px;
    height: 400px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    margin-bottom: 60px;
    transition: 0.3s;
  }


.swiper-slide{
    max-width: 1000px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}




.tiles-container{
    display: flex;
    justify-content: center;
    padding-top: 30px;

}


.tiles-box{
    width: 100%;
    display: flex;
    justify-content: center;

}


.tiles {
    max-width: 1000px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 3px 0px var(--background-color);
    padding: 40px 0;
    background-color: var(--background-color);
    transition: 0.3s;

}
.tiles-img{
    width: 35%;
    display: inline-flex;


}

.tiles img{
    max-width: 400px;
    height: auto;
    max-width: 100%;
    width: auto;
    border-radius: 8px;
}

.tiles-texts{
    display: flex;
    flex-direction: column;
    width: 45%;
    color: var(--font-color);
    transition: 0.3s;
}

.tiles-texts h1{
    margin-bottom: 10px;
    font-size: 28px;
}

.tiles-texts span{
    font-size: 15px;
}

.tiles-texts p{
    font-size: 17px;
    margin-bottom: 30px;
    height: 75px;
    display: flex;
    align-items: center;
}

.tiles-language {
    display: flex;
}

.tiles-language div{
    display: flex;

}

.tiles-language h4 {
    font-size: 15px;
    padding-right: 20px;

}

.tiles-buttons {
    display: flex;
}

.tiles-buttons a{
    display: flex;
    height: 20px;
    width: 100px;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: var(--font-color);
    border-radius: 4px;
    margin-right: 20px;
    /* outline: 1px solid black; */
    /* box-shadow: 0px 0px 5px 0px var(--primary-color); */
    /* box-shadow: rgba(68, 68, 68, 0.562) 0px 2px 5px 0px, rgba(0, 0, 0, 0.568) 0px 1px 1px 0px; */
    box-shadow: rgb(62, 132, 158) 0px 0.0625em 0.0625em, rgba(62, 132, 158, 0.623) 0px 2px 6px 1px, rgba(62, 132, 158, 0.842) 0px 0px 0px 1.5px inset;
    position: sticky;
    transition: .3s;
}


.tiles-buttons a:hover{
    background-color: var(--primary-color);
    color: var(--night-font);
    text-decoration: none;
}


.tiles-buttons a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 4px;
    transition: .2s;
    opacity: 0;
    z-index: -1;
}


.tiles-buttons a:hover:after {
    width: 100%;
    opacity: 100;
    text-decoration: none;
}

/* TILES */

/*   SWIPERJS   *//*   SWIPERJS   *//*   SWIPERJS   *//*   SWIPERJS   *//*   SWIPERJS   */



/*   SKILLS SECTION   *//*   SKILLS SECTION   *//*   SKILLS SECTION   *//*   SKILLS SECTION   *//*   SKILLS SECTION   */

.skills-section{
    background-color: var(--background-color);
    transition: 0.2s;
}

.curve-skills{
    position: absolute;
    height: 80px;
    width: 100%;
    top: 0;

}


.curve-skills::before{
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: var(--primary-color);
    transform: translate(-4%, -51%);
    z-index: 0;



}

.curve-skills::after{
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: var(--background-color);
    transform: translate(92%, -52%);
    z-index: 0;
    transition: 0.2s;
}

#skills-intro{
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
    color: var(--font-color);
    transition: 0.3s;
}

.skills-body{
    display: flex;
    align-items: center;
    flex-direction: column;

}


.skills-container{
    max-width: 1000px;
    width: 1000px;
    height: 400px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: var(--night-font);
    margin-bottom: 60px;
    box-shadow: rgba(62, 132, 158, 0.4) -5px 5px, rgba(62, 132, 158, 0.3) -10px 10px, rgba(62, 132, 158, 0.2) -15px 15px, rgba(62, 132, 158, 0.1) -20px 20px, rgba(62, 132, 158, 0.1) -25px 25px;
}


.skills-texts{
    display: flex;
    justify-content: center;
    align-items: space-evenly;
    width: 100%;
    height: 100%;


}

.skills-box{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}



.skill-set{
    margin-bottom: 40px;
    display: flex;
}

.skill-check{
    padding: 2px;
    font-size: 25px;
}

.skill-set h1{
    font-size: 25px;
    
}

/*   SKILLS SECTION   *//*   SKILLS SECTION   *//*   SKILLS SECTION   *//*   SKILLS SECTION   *//*   SKILLS SECTION   */



/*   Contact Float   *//*   Contact Float   *//*   Contact Float   */

.contact-float-button{
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 60px;
    width: 60px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    transition: 0.5s;
    border: 2px solid var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
    color: var(--background-color);
    font-size: 40px;
    z-index: 1;

}

.contact-float-button:hover{
    background-color: var(--background-color);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}


.btnEntrance {
    /* animation-duration: 0.5s; */
    animation-fill-mode: both;
    animation: btnEntrance 0.5s;
}

@keyframes btnEntrance {
    0% {
        opacity: 0;
        transform: scale(0);
        bottom: -10%;
        
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}



.btnExit {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnExit;
}

@keyframes btnExit {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0);
        opacity: 0;
        bottom: -10%;
    }
}
/*   Contact Float   *//*   Contact Float   *//*   Contact Float   */

/*   CONTACT FORM FLOAT   *//*   CONTACT FORM FLOAT   *//*   CONTACT FORM FLOAT   */

.contact-float-container{
    max-width: 400px;
    width: 400px;
    max-height: 470px;
    height: 100%;
    background-color: var(--primary-color);
    position: fixed;
    bottom: 90px;
    right: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 15px;
    color: var(--font-color);
    border: 2px solid var(--background-color);
    transition: 1s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    z-index: 1;
}


.contact-float-whole{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}


.close-float{
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 30px;
    color: var(--background-color);
}

.close-float span{
    cursor: pointer;
    transition: .2s;
}

.close-float span:hover{
    color: var(--font-color);
}

.contact-float-title{
    font-weight: 500;
    font-size: 23px;
    color: var(--background-color);
    position: absolute;
    top: 1.5%;

}
.contact-form-title{
    font-size: 20px;
    color: var(--background-color);
}


.contact-float-boxes{
    width: 100%;
    height: 30px;
    position: absolute;
    top: 10%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 5px;
}

.contact-float-info{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 15px;
    background-color: var(--background-color);
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0px 0px 3px 0px var(--font-color);
    color: var(--font-color);
}


.contact-float-info:hover{
    /* background-color: var(--primary-color); */
    background-color: rgb(228, 176, 5);
    box-shadow: 0px 0px 3px 0px var(--background-color);
    border: 1px solid var(--background-color);
}


.contact-float-info i{
    font-size: 15px;
}

.contact-float-form{
    width: 100%;
    border-radius: 8px;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    margin-top: 15px;
    height: auto;

}

.contact-form-fill{
    padding-top: 15px;
    width: 100%;

}

.contact-form-fill form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}


.contact-form-fill input{
    width: 100%;
    height: 15%;
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    background-color: var(--background-color);
    border: none;
    font-size: 16px;
}

.contact-form-fill textarea{
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    background-color: var(--background-color);
    border: none;
    transition: 0.3s;
    resize: none;
    font-size: 16px;
}
.contact-form-fill button{
    width: 100px;
    height: 35px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
    background-color: rgb(228, 176, 5);
    border: 2px solid var(--background-color);
    box-shadow: 0px 0px 5px 0px black;
    transition: 0.3s;

}

.contact-form-fill button:hover {
    background-color: rgb(228, 196, 15);
    box-shadow: 0px 0px 5px 0px var(--background-color);
    border: 1px solid var(--font-color);
    /* color: var(--background-color); */
}


.btnEntrance-2 {
    /* animation-duration: 0.5s;
    animation-name: btnEntrance-2; */
    animation-fill-mode: both;
    animation: btnEntrance-2 0.5s;
}

@keyframes btnEntrance-2 {
    0% {
        transform: scale(0);
        transform-origin: bottom right;
        opacity: 0;
        
    }

    100% {
        transform: scale(1);
        opacity: 1;
        
    }
}



.btnExit-2 {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnExit-2;
}

@keyframes btnExit-2 {
    0% {
        transform: scale(1);
        opacity: 1;
        
    }
    100% {
        transform: scale(0);
        transform-origin: bottom right;
        opacity: 0;
    }
}





/*   CONTACT FORM FLOAT   *//*   CONTACT FORM FLOAT   *//*   CONTACT FORM FLOAT   */

/*   CONTACT FORM CONFIRMATION   *//*   CONTACT FORM CONFIRMATION   *//*   CONTACT FORM CONFIRMATION    */

.confirmation{
    height: 60px;
    width: 300px;
    position: fixed;
    top: 60px;
    right: -150%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border: 1px solid var(--background-color);
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px var(--font-color);
    padding: 10px;

}

.confirmation div{
    margin: 5px;
}

.success{
    background-color: rgb(27, 156, 27);
}

.failed{
    background-color: rgb(177, 2, 2);
}


.btnEntrance-3 {
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-name: btnEntrance-3;
}



@keyframes btnEntrance-3 {
    0% {
        opacity: 0;
        right: -100%;
    }
    20% {
        opacity: 1;
        transform: translateX(42px);
        right: 15%;
        
    }
    80% {
        opacity: 1;
        transform: translateX(42px);
        right: 15%;
        
    }
    100% {
        opacity: 0;
        bottom: -10%;
        right: -100%;
    }
}



.btnExit-3 {
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-name: btnExit-3;
}

@keyframes btnExit-3 {
    0% {
        opacity: 0;
        right: -100%;
    }
    20% {
        opacity: 1;
        transform: translateX(42px);
        right: 15%;
        
    }
    80% {
        opacity: 1;
        transform: translateX(42px);
        right: 15%;
        
    }
    100% {
        opacity: 0;
        bottom: -10%;
        right: -100%;
    }
}



/*   CONTACT FORM CONFIRMATION   *//*   CONTACT FORM CONFIRMATION   *//*   CONTACT FORM CONFIRMATION   */

/*   SERVICES SECTION   *//*   SERVICES SECTION   *//*   SERVICES SECTION   *//*   SERVICES SECTION   *//*   SERVICES SECTION   */
.services-container-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.services-container{
    max-width: 1000px;
    width: 1000px;
    height: 400px;
    transition: 0.3s;
    margin-bottom: 50px;

}

.services-whole{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.services-box{
    height: 100%;
    width: 30%;
    background-color: var(--background-color);
    border-radius: 8px;
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    transition: .3s;
}


.service-name{
    font-size: 28px;
    margin-bottom: 40px;
    text-align: center;
    height: 50px;
    transition: .3s;
}
.service-description {
    font-size: 19px;
    transition: .3s;
}

.service-description-box{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
}
.service-description-box i{
    margin: 2px;
    padding-top: 2px;
    font-size: 20px;
}
/*   SERVICES SECTION   *//*   SERVICES SECTION   *//*   SERVICES SECTION   *//*   SERVICES SECTION   *//*   SERVICES SECTION   */

/*   CONTACT SECTION   *//*   CONTACT SECTION   *//*   CONTACT SECTION   *//*   CONTACT SECTION   *//*   CONTACT SECTION   */

.contact-section{
    min-height: 80vh;
    padding-top: 80px;
    position: relative;
    color: var(--night-font);
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-container{
    max-width: 1000px;
    width: 1000px;
    height: 500px;
    transition: 0.3s;
    margin-bottom: 50px;
    background-color: var(--primary-color);
    border-radius: 8px;
    padding: 0 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.contact-whole{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.contact-box{
    height: 100%;
    padding: 20px;
}


.contact-box:nth-child(1){
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.contact-box:nth-child(2){
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.contact-option{
    width: 100%;
    height: 100px;
    background-color: var(--background-color);
    margin-bottom: 20px;
    border-radius: 8px;
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    border: 2px solid var(--font-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 300;
}

.contact-option:hover {
    background-color: rgb(228, 176, 5);
    box-shadow: 0px 0px 5px 0px var(--background-color);
    border: 2px solid var(--background-color);
    color: var(--font-color);
}

.form-title{
    font-size: 20px;
    font-weight: 400;
}

.contact-me-form{
    margin-top: 15px;
    width: 100%;

}

.contact-me-form form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}


.contact-me-form input{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    background-color: var(--background-color);
    border: none;
    font-size: 16px;
    transition: 0.3s;
}

.contact-me-form textarea{
    width: 100%;
    height: 160px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    background-color: var(--background-color);
    border: none;
    transition: 0.3s;
    resize: none;
    font-size: 16px;
}
.contact-me-form button{
    width: 100px;
    height: 35px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(228, 176, 5);
    border: 2px solid var(--background-color);
    box-shadow: 0px 0px 5px 0px black;
    transition: 0.3s;

}

.contact-me-form button:hover {
    background-color: rgb(228, 196, 15);
    box-shadow: 0px 0px 5px 0px var(--background-color);
    border: 1px solid var(--font-color);
    /* color: var(--background-color); */
}
/*   CONTACT SECTION   *//*   CONTACT SECTION   *//*   CONTACT SECTION   *//*   CONTACT SECTION   *//*   CONTACT SECTION   */











/*  MEDIA QUERIES  */ /*  MEDIA QUERIES  */ /*  MEDIA QUERIES  */ /*  MEDIA QUERIES  */ /*  MEDIA QUERIES  */ /*  MEDIA QUERIES  */
@media (min-height: 1500px){
    section{
        min-height: calc(70vh - 60px);
    }
}








@media (max-width: 1050px) {
    .top-button{
        font-size: 16px;
    }

    .logo{
        font-size: 24px;
    }

    #intro-txt {
        font-size: 24px;
    }
    #intro-txt h1{
        font-size: 35px;
    }

    #role-txt {
        height: 35px;
        font-size: 25px;
    }
    
    .dynamic-txts li{
        height: 35px;
    }
    p{
        font-size: 18px;
    }
    .btn{
        font-size: 15px;
    }
    .swiper{
        width: 700px;
    }
    .tiles-texts h1{
        font-size: 25px;
    }
    
    .tiles-texts p{
        font-size: 15px;
        align-items: flex-start;

    }
    .tiles-language h4 {
        font-size: 14px;
    }
    .tiles-buttons{
        margin-left: 0;
    }

    .tiles-buttons a{
        margin-right: 15px;
        font-size: 14px;
        width: 90px;
    }
    .skills-container{
        width: 700px;
    }
    .skill-check{
        font-size: 22px;
    }
    
    .skill-set h1{
        font-size: 22px;
    }
    .skill-set p{
        font-size: 16px;
    }
    .contact-float-button{
        bottom: 25px;
        right: 25px;
        height: 55px;
        width: 55px;
        font-size: 35px;
    }

    .contact-float-container{
        bottom: 80px;
        right: 80px;
        width: 70%;
        height: 450px;
    }
    
    .contact-float-title{
        font-size: 20px;
    }
    .contact-float-boxes{
        flex-direction: column;
        height: 55px;
        align-items: space-around;
    }
    .close-float{
        font-size: 25px;
    }
    
    
    .contact-float-info{
        font-size: 15px;
        height: 25px;
    }
    .contact-float-info i{
        font-size: 15px;
    }
    .contact-form-title{
        font-size: 20px;
        margin: 10px 0 -10px 0;
    }
    
    .contact-form-fill input{
        height: 25px;
        font-size: 15px;
    }
    .contact-form-fill textarea{
        height: 140px;
        font-size: 15px;
    }
    .contact-form-fill button{
        height: 25px;
        font-size: 15px;
    }
    .services-container{
        width: 95%;
    }
    
    .services-box{
        padding: 10px;
        padding-top: 40px;
    
    }
    
    .service-name{
        font-size: 22px;
        margin-bottom: 30px;
        text-align: center;
        height: 40px;
    }
    .service-description {
        font-size: 17px;
    }
    
    .service-description-box{
    }
    .service-description-box i{
        margin: 2px;
        font-size: 18px;
    }








    .contact-container{
        width: 700px;
    }
}







@media (max-width: 767px) {
    .header {
        padding: 20px 0;
    }



    .header-menu-container{
        position: fixed;
        top: 45px;
        left: 100%;
        width: 100%;
        height: calc(100vh - 45px);
        background:rgba(66, 66, 66, 0.959);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        padding-bottom: 100px;
    }
    .header-menu{
        flex-direction: column;

    }

    .header-menu-container.is-active{
        left: 0;
    }

    
    .nav-button{
        margin: 20px;

    }

    .top-button{
        color: rgb(233, 233, 233);
        font-size: 30px;
    }
    .burger-icon {
        display: block;
        visibility: visible;
        font-size: 25px;

    }
    .about-body{
        flex-direction: column-reverse;
    }


    .about-body{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .social-container{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .logo{
        font-size: 20px;
    }
    .about-txt{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }

    #intro-txt {
        font-size: 20px;
        width: 85%;
    }
    p{
        font-size: 15px;
    }
    
    .btn{
        font-size: 14px;
    }
    #role-txt {
        height: 28px;
        font-size: 20px;
    }
    .dynamic-txts li{
        height: 28px;
    }
    .top-section{
        padding-bottom: 40px;
    }

    .about-img{
        max-width: 400px;
        width: 90%;
    }
    .swiper{
        width: 350px;
        height: 500px;
        margin-bottom: 60px;
    }
    .tiles{
        flex-direction: column;
    }
    .tiles-texts{
        text-align: center;
        align-items: center;
    }
    .tiles-texts h1{
        font-size: 22px;
        width: 250px;
    }
    
    .tiles-texts p{
        font-size: 14px;
        height: 180px;
        width: 180px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .tiles-language{
        align-items: center;
        flex-direction: column;
    }
    .tiles-language h4 {
        font-size: 13px;
        padding-right: 0px;
        margin: 0px 5px 15px 5px;
    }
    .tiles-img{
        width: 70%;
        max-height: 35%;
        justify-content: center;
    }
    .tiles-buttons{
        margin-left: 0;
    }

    .tiles-buttons a{
        margin: 5px 5px;
    }
    
    #project-intro{
        font-size: 28px;
    }
    .box-area li:nth-child(1){
        width: 24px;
        height: 24px;
    }
    
    .box-area li:nth-child(2){
        width: 19px;
        height: 19px;
    }
    
    .box-area li:nth-child(3){
        width: 14px;
        height: 14px;
    }
    
    
    .box-area li:nth-child(4){
        width: 21px;
        height: 21px;
    }
    
    .box-area li:nth-child(5){
        width: 29px;
        height: 29px;
    }
    .skills-container{
        width: 350px;
        height: 400px;

    }
    .skill-check{
        font-size: 20px;
    }
    
    .skill-set h1{
        font-size: 20px;
    }
    .skill-set p{
        font-size: 14px;
    }
    #skills-intro {
        font-size: 28px;
    }
    .contact-float-button{
        bottom: 25px;
        right: 20px;
        height: 45px;
        width: 45px;
        font-size: 30px;
    }

    .contact-float-container{
        bottom: 60px;
        right: 60px;
        width: 70%;
        height: 430px;
    }
    
    .contact-float-title{
        font-size: 18px;
    }
    .contact-float-boxes{
        flex-direction: column;
        height: 55px;
        align-items: space-around;
    }
    .close-float{
        font-size: 20px;
    }
    
    
    .contact-float-info{
        font-size: 13px;
        height: 25px;
    }
    .contact-float-info i{
        font-size: 13px;
    }
    .contact-float-form{
    }
    .contact-form-title{
        font-size: 18px;
        margin: 10px 0 -10px 0;
    }
    
    .contact-form-fill input{
        height: 25px;
        font-size: 13px;
    }
    .contact-form-fill textarea{
        height: 140px;
        font-size: 13px;
    }
    .contact-form-fill button{
        height: 25px;
        font-size: 15px;
    }
    .confirmation{
        height: 45px;
        width: 250px;
        font-size: 16px;
    }
    .services-container{
        width: 350px;
        height: 850px;
        transition: 0.3s;
    }
    .services-whole{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    
    .services-box{
        height: 30%;
        width: 100%;
        padding: 15px;
    }
    
    
    .service-name{
        font-size: 22px;
    }
    .service-description {
        font-size: 16px;
    }
    
    .service-description-box{
        margin-bottom: 30px;
    }
    .service-description-box i{
        font-size: 16px;
    }








    .contact-container{
        max-width: 1000px;
        width: 350px;
        height: 540px;

    }
    
    .contact-whole{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    
    .contact-box{
        padding: 15px;
    }
    
    
    .contact-box:nth-child(1){
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    
    .contact-box:nth-child(2){
        width: 100%;
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    
    
    .contact-option{
        height: 50px;
        padding: 5px;
        margin-bottom: 20px;
        font-size: 18px;
    }
    
    .form-title{
        text-align: center;
        font-size: 18px;
    }
    
    
    .contact-me-form input{
        height: 40px;
        font-size: 15px;
    }
    
    .contact-me-form textarea{
        font-size: 16px;
    }
    
}



@media (max-width: 380px){
    .swiper{
        width: 290px;
    }
    .skills-container{
        width: 290px;

    }
    .services-container{
        width: 290px;
    }
    .contact-container{
        width: 290px;
    }
}

@media (max-height: 700px) {
    .contact-form-fill textarea{
        height: 100px;
        
    }
    .contact-float-container{
        height: 410px;
    }
}
/*  MEDIA QUERIES  */ /*  MEDIA QUERIES  */ /*  MEDIA QUERIES  */ /*  MEDIA QUERIES  */ /*  MEDIA QUERIES  */ /*  MEDIA QUERIES  */